@model IEnumerable<ITP.Models.About>

@{
    ViewData["Title"] = "Index";
}

<h2>About</h2>
@foreach (var item in Model)
{
<p>
    This is the Internet Technology semester project of @Html.DisplayFor(modelItem => item.Name), age @Html.DisplayFor(modelItem => item.Age).

</p>
}

