@{
    ViewData["Title"] = "Home Page";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Abouts" asp-action="Index">About</a></li>
        <li><a asp-area="" asp-controller="Photos" asp-action="Gallery">Gallery</a></li>
        <li><a asp-area="" asp-controller="Signups" asp-action="Create">Signup</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Administration">Administration</a></li>
    </ul>
</div>